<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Console</title>
    <style>
        /* Custom CSS styles for the table */
        .table-container {
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        th {
            background-color: #007BFF;
            color: #fff;
        }

        .table-hover tbody tr:hover {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<div class="p-2">
    <h1 class="">실시간 테이블</h1>
</div>
<!--    <div class="sidebar">-->
<!--        <select id="id">-->
<!--            <% id_list.forEach((id) => { %>-->
<!--                <option value= <%= id %>> <%= id %> </option>-->
<!--            <% }) %>-->
<!--        </select>-->
<!--    </div>-->

<div class="table-container">
    <table id="idTable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">BATT</th>
            <th scope="col">MAGx</th>
            <th scope="col">MAGy</th>
            <th scope="col">MAGz</th>
            <th scope="col">ZYROx</th>
            <th scope="col">ZYROy</th>
            <th scope="col">ZYROz</th>
            <th scope="col">ACCx</th>
            <th scope="col">ACCy</th>
            <th scope="col">ACCz</th>
            <th scope="col">AQI</th>
            <th scope="col">TVOC</th>
            <th scope="col">EC2</th>
            <th scope="col">PM1.0</th>
            <th scope="col">PM2.5</th>
            <th scope="col">PM10</th>
            <th scope="col">IRUN</th>
            <th scope="col">RED</th>
            <th scope="col">ECG</th>
            <th scope="col">TEMP</th>
            <th scope="col">LAST_UPDATE</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <% id_list.forEach((el) => { %>
        <tr id="id_<%= el %>">
            <td> <%= el %> </td>
            <td id="batt_<%= el %>">_</td>
            <td id="magx_<%= el %>">_</td>
            <td id="magy_<%= el %>">_</td>
            <td id="magz_<%= el %>">_</td>
            <td id="zyrox_<%= el %>">_</td>
            <td id="zyroy_<%= el %>">_</td>
            <td id="zyroz_<%= el %>">_</td>
            <td id="accx_<%= el %>">_</td>
            <td id="accy_<%= el %>">_</td>
            <td id="accz_<%= el %>">_</td>
            <td id="aqi_<%= el %>">_</td>
            <td id="tvoc_<%= el %>">_</td>
            <td id="ec2_<%= el %>">_</td>
            <td id="pm1.0_<%= el %>">_</td>
            <td id="pm2.5_<%= el %>">_</td>
            <td id="pm10_<%= el %>">_</td>
            <td id="irun_<%= el %>">_</td>
            <td id="red_<%= el %>">_</td>
            <td id="ecg_<%= el %>">_</td>
            <td id="temp_<%= el %>">_</td>
            <td id="last_update_<%= el %>">_</td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<script>
    const webSocket = new WebSocket("ws://junlab.postech.ac.kr:881");

    const data_structure = [
        "ID",
        "BATT",
        "MAGx",
        "MAGy",
        "MAGz",
        "ZYROx",
        "ZYROy",
        "ZYROz",
        "ACCx",
        "ACCy",
        "ACCz",
        "AQI",
        "TVOC",
        "EC2",
        "PM10",
        "PM25",
        "PM100",
        "IRUN",
        "RED",
        "ECG",
        "TEMP",
        "CREATED_AT"
    ];

    webSocket.onopen = function () {
        console.log('서버와 웹소켓 연결 성공!');
    };
    webSocket.onmessage = (event) => {
        let data = JSON.parse(event.data);
        let tr = document.getElementById("id_" + data.ID.toString());
        let tds = tr.getElementsByTagName("td");

        console.log(data);

        for (let i = 1; i < tds.length; i++) {
            tds[i].innerHTML = data[data_structure[i]];
        }

    };
</script>
</body>
</html>