<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<button onclick="location.href = '/iitp'" class="btn btn-info mx-2 my-2">
    뒤로
</button>
<div class="mx-5">
    <div class="mb-2">
        <h1 class="">Sensor Data Table</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center p-2">
        <div class="d-flex align-items-center">
            <div class="mx-2">
                <label for="id">ID를 선택하세요:
                    <select id="id">
                        <option value="all"> 전체</option>
                        <% id_list.forEach((id) => { %>
                            <option value= <%= id %>> <%= id %> </option>
                        <% }) %>
                    </select>
                </label>
            </div>
            <div class="mx-2 text-align-center">
                <label for="start">검색 범위를 선택하세요:
                    <input id="start"
                           type="date"
                           max=""
                           min=""
                           value="">
                    ~
                    <input id="end"
                           type="date"
                           max=""
                           min=""
                           value="">
                </label>
            </div>
            <button id="search" class="btn btn-sm btn-primary"
                    onclick="location.href= '/iitp/table?id=' + document.getElementById('id').options[document.getElementById('id').selectedIndex].value
             + '&start=' + document.getElementById('start').value.replaceAll('-', '/')
            + '&end=' + document.getElementById('end').value.replaceAll('-', '/')"> 검색
            </button>
            <div class="mx-5">
                <%= data.length %> 개의 검색 결과.
            </div>
        </div>
        <button id="download" class="btn btn-sm btn-secondary"
                onclick="location.href= '/iitp/table/export?id=' + document.getElementById('id').options[document.getElementById('id').selectedIndex].value
             + '&start=' + document.getElementById('start').value.replaceAll('-', '/')
            + '&end=' + document.getElementById('end').value.replaceAll('-', '/')"><u> csv download </u></button>
    </div>

    <div class="vw-75">
        <table id="sensorTable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">BATT</th>
                <th scope="col">MAGx</th>
                <th scope="col">MAGy</th>
                <th scope="col">MAGz</th>
                <th scope="col">ZYROx</th>
                <th scope="col">ZYROy</th>
                <th scope="col">ZYROz</th>
                <th scope="col">ACCx</th>
                <th scope="col">ACCy</th>
                <th scope="col">ACCz</th>
                <th scope="col">AQI</th>
                <th scope="col">TVOC</th>
                <th scope="col">EC2</th>
                <th scope="col">PM1.0</th>
                <th scope="col">PM2.5</th>
                <th scope="col">PM10</th>
                <th scope="col">IRUN</th>
                <th scope="col">RED</th>
                <th scope="col">ECG</th>
                <th scope="col">TEMP</th>
                <th scope="col">CREATED_AT</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach((el, index) => { %>
                <tr id="results">
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= el.ID %></td>
                    <td><%= el.BATT %></td>
                    <td><%= el.MAGx %></td>
                    <td><%= el.MAGy %></td>
                    <td><%= el.MAGz %></td>
                    <td><%= el.ZYROx %></td>
                    <td><%= el.ZYROy %></td>
                    <td><%= el.ZYROz %></td>
                    <td><%= el.ACCx %></td>
                    <td><%= el.ACCy %></td>
                    <td><%= el.ACCz %></td>
                    <td><%= el.AQI %></td>
                    <td><%= el.TVOC %></td>
                    <td><%= el.EC2 %></td>
                    <td><%= el.PM10 %></td>
                    <td><%= el.PM25 %></td>
                    <td><%= el.PM100 %></td>
                    <td><%= el.IRUN %></td>
                    <td><%= el.RED %></td>
                    <td><%= el.ECG %></td>
                    <td><%= el.TEMP %></td>
                    <td><%= el.CREATED_AT %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    today = new Date();
    year = today.getFullYear();
    month = today.getMonth() + 1;
    month2 = (month) < 10 ? ("0" + month) : (month);
    day = today.getDate();

    default_end = year + "-" + month2 + "-" + day;

    document.querySelector('#end').value = default_end;

    sp = new URLSearchParams(location.search);
    if (sp.get('start')) document.querySelector('#start').value = sp.get('start').replaceAll('/', '-');
    if (sp.get('end')) document.querySelector('#end').value = sp.get('end').replaceAll('/', '-');
    if (sp.get('id')) document.querySelector('#id').value = sp.get('id');

    if (!document.getElementById('results')) {
        document.getElementById('download').disabled = true;
    }
</script>
</body>
</html>