<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<style>
    td:nth-child(1) {
        font-weight: bold;
    }
</style>
<body onload="initializePage();">
<button onclick="location.href = '/iitp'" class="btn btn-info mx-2 my-2">뒤로</button>
<div class="mx-5">
    <div class="mb-2">
        <h1 class="">Sensor Data Table</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center p-2">
        <div class="d-flex align-items-center">
            <div class="mx-2">
                <label for="id">ID를 선택하세요:
                    <select id="id">
                        <option value="all"> 전체</option>
                        <% id_list.forEach((id) => { %>
                            <option value="<%= id %>"> <%= id %> </option>
                        <% }) %>
                    </select>
                </label>
            </div>
            <div class="mx-2 text-align-center">
                <label for="start">검색 범위를 선택하세요:
                    <input id="start" type="date" value="">
                    ~
                    <input id="end" type="date" value="">
                </label>
            </div>
            <button id="search" class="btn btn-sm btn-primary" onclick="search()"> 검색 </button>
            <div class="mx-5" id="searchResults">
                <% if (totalItems > 0) { %>
                    검색결과: <%= totalItems %>개
                <% } %>
            </div>
        </div>
        <button id="download" class="btn btn-sm btn-secondary" onclick="downloadCSV()"> <u> csv download </u> </button>
    </div>
    <div class="vw-75">
        <table id="sensorTable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">BATT</th>
                <th scope="col">MAGx</th>
                <th scope="col">MAGy</th>
                <th scope="col">MAGz</th>
                <th scope="col">ZYROx</th>
                <th scope="col">ZYROy</th>
                <th scope="col">ZYROz</th>
                <th scope="col">ACCx</th>
                <th scope="col">ACCy</th>
                <th scope="col">ACCz</th>
                <th scope="col">AQI</th>
                <th scope="col">TVOC</th>
                <th scope="col">EC2</th>
                <th scope="col">PM1.0</th>
                <th scope="col">PM2.5</th>
                <th scope="col">PM10</th>
                <th scope="col">IRUN</th>
                <th scope="col">RED</th>
                <th scope="col">ECG</th>
                <th scope="col">TEMP</th>
                <th scope="col">CREATED_AT</th>
            </tr>
            </thead>
            <tbody>
            <% const startIdx = (currentPage - 1) * itemsPerPage + 1; %>
            <% data.forEach((el, index) => { %>
                <tr id="results">
                    <td><%= startIdx + index %></td>
                    <td><%= el.ID %></td>
                    <td><%= el.BATT %></td>
                    <td><%= el.MAGx %></td>
                    <td><%= el.MAGy %></td>
                    <td><%= el.MAGz %></td>
                    <td><%= el.ZYROx %></td>
                    <td><%= el.ZYROy %></td>
                    <td><%= el.ZYROz %></td>
                    <td><%= el.ACCx %></td>
                    <td><%= el.ACCy %></td>
                    <td><%= el.ACCz %></td>
                    <td><%= el.AQI %></td>
                    <td><%= el.TVOC %></td>
                    <td><%= el.EC2 %></td>
                    <td><%= el.PM10 %></td>
                    <td><%= el.PM25 %></td>
                    <td><%= el.PM100 %></td>
                    <td><%= el.IRUN %></td>
                    <td><%= el.RED %></td>
                    <td><%= el.ECG %></td>
                    <td><%= el.TEMP %></td>
                    <td><%= el.CREATED_AT %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="/iitp/table?id=<%= id %>&start=<%= start %>&end=<%= end %>&page=1" tabindex="-1" aria-disabled="true"><<</a>
                </li>
                <% let startPage = Math.max(currentPage - Math.floor(itemsPerPage / 2), 1); %>
                <% let endPage = Math.min(startPage + itemsPerPage - 1, totalPages); %>
                <% for (let i = startPage; i <= endPage; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="/iitp/table?id=<%= id %>&start=<%= start %>&end=<%= end %>&page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="/iitp/table?id=<%= id %>&start=<%= start %>&end=<%= end %>&page=<%= totalPages %>">>></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
<script src="/javascripts/sensortable.js"></script>
</html>
